@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.hero {
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: -webkit-linear-gradient(
    145deg,
    #0067ff 0%,
    #005ce3 24%,
    #0050c6 100%
  ); */
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #fffdd0;
  letter-spacing: 1.2;
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #fffdd0;
  letter-spacing: 1.2;
  width: 100vw;
  padding: 16px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 25%;
}

button {
  background-color: #fffdd0;
  color: #0067ff;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

p {
  font-weight: 600;
}

img {
  width: 20%;
  margin-left: 318px;
  margin-top: 30px;
  transform: rotate(-20deg);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Set the z-index to -1 to place the canvas behind the hero section */
}
